#signupInputLabel {
	
	color:#327BF0;
	font-weight:bold;
	font-family:Comic Sans MS;
	
}

#signupHeaderLabel {
	
	color:#327BF0;
	font-weight:bold;
	font-family:Trebuchet MS;
	font-style: oblique;
	
}