<!--Login Controller Area-->
<!--First Part is the navigation bar-->
<div data-ng-controller="loginController">
<!-- Navbar Complete with icons for different user options -->
<nav id="nav" class="navbar navbar-dark navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#loginNavbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span id="menuToggle" class="icon-bar"></span>
            <span id="menuToggle" class="icon-bar"></span>
            <span id="menuToggle" class="icon-bar"></span>
       </button>
		<a id="logo" class="navbar-brand" href="#">Task Manager</a>
		</div>
		<div id="loginNavbar" class="navbar-collapse collapse" aria-expanded="true">
			<form class="navbar-form navbar-right">
			 <div class="form-group">
              <input type="text" placeholder="Email" data-ng-model="emailLogin" class="form-control" vk_10db6="subscribed"> 
              </div>
               <div class="form-group">
              <input type="password" placeholder="Password" data-ng-model="passwordLogin" class="form-control" vk_10db6="subscribed">
              </div>
              <input type="button" value="Sign In" class="btn btn-success" data-ng-click="login()">
          </form>
		</div>
	</div>
</nav >
<br>

<!--Jumbotron with three columns that have some site information-->
<div class="jumbotron" style="background-color: #C1D5F5;">
	
	<div class="container">
  	<h2>Welcome to Task Manager</h2>
  	<div class="container">
  	<div class="row">
        <div class="col-md-4">
          <h2>What does this do?</h2>
          <p>Keep control of of your life with Task Manager, which allows you to create your own tasks and store them for viewing at a later date.</p>
        </div>
        <div class="col-md-4">
          <h2>Manage Tasks</h2>
          <p>The manage task section allows the user to have full control of their tasks by creating, editing and deleting the tasks they want and selecting multiple tasks at the same time.</p>
       </div>
        <div class="col-md-4">
          <h2>Create your own profile</h2>
          <p>Users can edit their own profile data, including your creditials like first name and last name and the changing of their old password.</p>
        </div>
      </div>
  	</div>
	</div>
</div>

<!--Signup form at the bottom of the page with two columns and six rows-->
<center>
<form class="form-horizontal" id="signupForm">
<div class="container-fluid">
	<h1 id="signupHeaderLabel">Sign Up Today</h1>
	<br>
      <div class="form-group">
          <label id="signupInputLabel" class="control-label col-sm-1">First Name</label>
          <div class="col-md-5">
           <input type="text" placeholder="First Name" data-ng-model="firstname" class="form-control">
          </div>
          <label id="signupInputLabel" class="control-label col-sm-1">Last name</label>
          <div class="col-md-5">
           <input type="text" placeholder="Last Name" data-ng-model="surname" class="form-control">
          </div>
      </div>
      
      <div class="form-group">
          <label id="signupInputLabel" class="control-label col-sm-1">Email</label>
          <div class="col-md-5">
           <input type="text" placeholder="Email" data-ng-model="email" class="form-control">
          </div>
          <label id="signupInputLabel" class="control-label col-sm-1">Date Of Birth</label>
          <div class="col-md-5">
           <input id="datepicker" type="text" placeholder="yyyy/mm/dd" data-ng-model="dob" class="form-control">
          </div>
      </div>
      <div class="form-group">
          <label id="signupInputLabel" class="control-label col-sm-1">Password</label>
          <div class="col-md-5">
           <input type="password" placeholder="Password" data-ng-model="password" class="form-control">
          </div>
          <div class="col-md-6">
          <input type="button" value="Sign Up" class="btn btn-success" class="form-control" data-ng-click="signup()">
          </div>
      </div>
      </div>
  </form>
</center>


<br><br><br>
<!--A simple page footer-->
<footer id="footer">
<center><h3 id="footerLabel">Copyright 2016 GMIT </h3></center>
</footer>
</div><!--End loginController scope-->

<!--Small scipt area for JQuery that allows the datepicker widget to work.-->
<script type="text/javascript">
$( function() {
	$( "#datepicker" ).datepicker({changeMonth: true, changeYear: true, 
		yearRange: '1930:'+new Date().getFullYear(), dateFormat: "yy-mm-dd"});
});
</script>
