<!--Login Controller Area-->
<!--First Part is the navigation bar-->
<div data-ng-controller="loginController">
<nav id="nav" class="navbar navbar-dark navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#loginNavbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span id="menuToggle" style="background-color: #193F7D;" class="icon-bar"></span>
            <span id="menuToggle" style="background-color: #193F7D;" class="icon-bar"></span>
            <span id="menuToggle" style="background-color: #193F7D;" class="icon-bar"></span>
       </button>
		<a id="logo" class="navbar-brand" href="#">Task Manager</a>
		</div>
		<div id="loginNavbar" class="navbar-collapse collapse in" aria-expanded="true">
			<form class="navbar-form navbar-right">
			 <div class="form-group">
              <input type="text" placeholder="Username" class="form-control" vk_10db6="subscribed"> 
              </div>
               <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" vk_10db6="subscribed">
              </div>
              <input type="button" value="Sign In" class="btn btn-success" data-ng-click="login()">
          </form>
		</div>
	</div>
</nav >
<br>

<!--Jumbotron with three columns that have some site information-->
<div class="jumbotron" style="background-color: #C1D5F5;">
	
	<div class="container">
  	<h2>Welcome to Task Manager</h2>
  	<div class="container">
  	<div class="row">
        <div class="col-md-4">
          <h2>Stuff</h2>
          <p>Store stuff like this. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-md-4">
          <h2>More Stuff</h2>
          <p>You can also do this. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
       </div>
        <div class="col-md-4">
          <h2>Even More Stuff</h2>
          <p>Wait theres even more. Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa just.</p>
        </div>
      </div>
  	</div>
  	<br>
  	<p><a class="btn bg-primary btn-lg" href="" role="button" style="background-color:#327BF0;">Learn more</a></p>
	</div>
</div>

<!--Signup form at the bottom of the page with two columns and six rows-->
<center>
<form class="form-horizontal">
<div class="container-fluid">
	<h1 id="signupHeaderLabel">Sign Up Today</h1>
	<br>
      <div class="form-group">
          <label id="signupInputLabel" class="control-label col-sm-1">First Name</label>
          <div class="col-md-5">
           <input type="text" placeholder="First Name" data-ng-model="fName" class="form-control">
          </div>
          <label id="signupInputLabel" class="control-label col-sm-1">Last name</label>
          <div class="col-md-5">
           <input type="text" placeholder="Last Name" data-ng-model="lName" class="form-control">
          </div>
      </div>
      
      <div class="form-group">
          <label id="signupInputLabel" class="control-label col-sm-1">Email</label>
          <div class="col-md-5">
           <input type="text" placeholder="Email" data-ng-model="email" class="form-control">
          </div>
          <label id="signupInputLabel" class="control-label col-sm-1">Date Of Birth</label>
          <div class="col-md-5">
           <input id="datepicker" type="text" placeholder="dd/mm/yyyy" data-ng-model="dob" class="form-control">
          </div>
      </div>
      <div class="form-group">
          <label id="signupInputLabel" class="control-label col-sm-1">Password</label>
          <div class="col-md-5">
           <input type="text" placeholder="Password" data-ng-model="password" class="form-control">
          </div>
      </div>
      </div>
  </form>
</center>

<!--Line across page to separate the form from the footer-->
<br>
<hr id="footerLine">

<!--A simple page footer-->
<footer>
<h3 id="signupInputLabel">Copyright 2016 GMIT </h3>
</footer>
</div><!--End loginController scope-->

<!--Small scipt area for JQuery that allows the datepicker widget to work.-->
<script type="text/javascript">
$( function() {
	$( "#datepicker" ).datepicker({changeMonth: true, changeYear: true, 
		yearRange: '1930:'+new Date().getFullYear(), dateFormat: "yy-mm-dd"});
});
</script>


