<!--Profile Controller Area-->
<div data-ng-controller="profileController">
<nav id="nav" class="navbar navbar-dark navbar-static-top">
	<div class="container">
		<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span id="menuToggle" class="icon-bar"></span>
            <span id="menuToggle" class="icon-bar"></span>
            <span id="menuToggle" class="icon-bar"></span>
       </button>
		<a id="logo" class="navbar-brand" href="">Task Manager</a>
		</div>
		<div id="mainNavbar" class="navbar-collapse collapse" aria-expanded="true">
         <ul class="nav navbar-nav navbar-right">
          <li><a id="glyphicon" class="glyphicon glyphicon glyphicon-home" href="#/dashboard"></a></li>
         <li><a id="glyphicon" class="glyphicon glyphicon-list-alt" href="#/manageTasks"></a></li>
         <li><a id="glyphicon" class="glyphicon glyphicon-user" href="#/profile"></a></li>
          <li><a id="glyphicon" class="glyphicon glyphicon-exclamation-sign" href="#/fandq"></a></li>
           <li><a id="glyphicon" class="glyphicon glyphicon-log-in" href="#/"></a></li>
         </ul>
	   </div>
	</div>
</nav>


<div class="container" style="margin-top:40px;">
  	  <div class="row">
        <div class="col-md-9"> 
        <form class="form-horizontal">
			<div class="container-fluid">
			<br>
      			<div class="form-group">
      				<div class="col-md-2">
      				<label id="signupInputLabel" class="control-label">Email:</label>
      				</div>
          			<div class="col-md-10">
           			<input type="text" placeholder="Email goes here" data-ng-model="profileEmail" class="form-control">
          			</div>
      			</div>
      			<div class="form-group">
      				<div class="col-md-2">
      				<label id="signupInputLabel" class="control-label">First Name:</label>
      				</div>
          			<div class="col-md-10">
           			<input type="text" placeholder="First Name goes here" data-ng-model="profileFNAme" class="form-control">
          			</div>
      			</div>
      			<div class="form-group">
      				<div class="col-md-2">
      				<label id="signupInputLabel" class="control-label">Last Name:</label>
      				</div>
          			<div class="col-md-10">
           			<input type="text" placeholder="Last Name goes here" data-ng-model="profileLNAme" class="form-control">
          			</div>
      			</div>
      			<div class="form-group">
      				<div class="col-md-2">
      				<label id="signupInputLabel" class="control-label">Password:</label>
      				</div>
          			<div class="col-md-10">
           			<input type="password" placeholder="Password goes here" data-ng-model="profilePassword" class="form-control">
          			</div>
      			</div>
      			<div class="form-group">
      				<div class="col-md-2">
      				<label id="signupInputLabel" class="control-label">Date Of Birth:</label>
      				</div>
          			<div class="col-md-10">
           			<input id="datepicker" type="text" placeholder="yyyy/mm/dd" data-ng-model="dob" class="form-control">
          			</div>
      			</div>
      			<div class="form-group">
      				<div class="col-md-2">
      				<label id="signupInputLabel" class="control-label">Notifications:</label>
      				</div>
          			<div class="col-md-1">
           			<input type="checkbox" data-ng-model="notificationsAllowed" class="form-control">
          			</div>
      			</div>
      	  </div>
		</form>
        </div>
      <div class="col-md-3" style="padding-top: 430px;">
         <center><input style="background-color: #327BF0; margin-bottom:30px; color:white;" type="button" value="Update" class="form-control" data-ng-click="updateProfile()"></center>
      </div>
     </div>
</div>

<!--A simple page footer-->
<div id="footer">
	<div class="container">
	<center><h3 id="footerLabel">Copyright 2016 GMIT</h3></center>
	</div>
</div>

</div>

<!--Small scipt area for JQuery that allows the datepicker widget to work.-->
<script type="text/javascript">
$( function() {
	$( "#datepicker" ).datepicker({changeMonth: true, changeYear: true, 
		yearRange: '1930:'+new Date().getFullYear(), dateFormat: "yy-mm-dd"});
});
</script>
